<div class="tabbable tabs-top" style="margin-bottom: 18px;">
<ul class="nav nav-tabs">
  <li class="active" id="profile_settings"><a href="#contact" data-toggle="tab">Contact Settings</a></li>
  <li id="account_settings" class=""><a href="#account" data-toggle="tab">Account Settings</a></li>
  <li><a href="#ad" data-toggle="tab">Advertisement Settings</a></li>
</ul>
  <div class="tab-content">
    <div class="tab-pane active form-horizontal" id="contact">

      <h3>Contact Settings</h3>
      <p>Enter your account settings & contact information</p>
      <hr>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Company Name</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">First & Last Name</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Address</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">City</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">State</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Zip Code</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Email Address</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Phone Number</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Fax Number</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput"></label>
              <div class="controls">
                <button type="button" class="btn btn-warning">Update</button>
              </div>
        </div>
      </fieldset>
<!-- END FORM 1 -->
    </div> <!-- .tab-pane active -->

    <div class="tab-pane form-horizontal" id="account">
      
      <h3>Account Settings</h3>
      <p>Enter your account settings & contact information</p>
      <hr>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Company Name</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">First & Last Name</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Address</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">City</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">State</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Zip Code</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Email Address</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Phone Number</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Fax Number</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput"></label>
              <div class="controls">
                <button type="button" class="btn btn-warning">Update</button>
              </div>
        </div>
      </fieldset>
   
    </div> <!-- .tab-pane account -->


    <div class="tab-pane form-horizontal" id="ad">

      <h3>Advertisement Settings</h3>
      <p>Enter your account settings & contact information</p>
      <hr>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Company Name</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">First & Last Name</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Address</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">City</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">State</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Zip Code</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Email Address</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Phone Number</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput">Fax Number</label>
              <div class="controls">
                <input type="text" class="span3" placeholder="">
              </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="control-group">
              <label class="control-label" for="prependedInput"></label>
              <div class="controls">
                <button type="button" class="btn btn-warning">Update</button>
              </div>
        </div>
      </fieldset>
    </div> <!-- .tab-pane ad -->
  </div>
</div>